#set( $ContextPath = ${request.contextPath} )
<html>
	<head><meta charset="utf-8"></head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header"><a class="navbar-brand" href="#">CAPTCHA.RESTFUL</a></div>
			<div>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Functions <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="divider"></li>
						</ul>
					</li>
					<li><a href="${ContextPath}/web/command/warrant/preview?pageNumber=0">授权码</a></li>
					<li><a href="${ContextPath}/web/command/config/init.do">投标信息管理</a></li>
					<li><a href="${ContextPath}/web/command/operation/list.do">OPERATION配置</a></li>
					<li><a href="${ContextPath}/web/command/resource/main.do">GLOBAL/LOCAL CONFIGs(TOTAL)</a><br/>
					<li><a href="${ContextPath}/web/command/resource/preview.do?category=simulate">CONFS(simulate)</a></li>
					<li><a href="${ContextPath}/web/command/resource/preview.do?category=real">CONFS(real)</a></li>
					<li><a href="${ContextPath}/web/command/prePublish">HELPER发布</a></li>
	            </ul>
		   </div>
		</nav>
		${screen_content}
	</body>
</html>