#set( $ContextPath = ${request.contextPath} )
#set($layout="layout/layoutACE.vm")

<!--<link rel="stylesheet" href="http://tablesorter.com/themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />-->
<link rel="stylesheet" href="${ContextPath}/css/bootstrap-table.css">

<script type="text/javascript" src="${ContextPath}/assets/js/jquery-1.10.2.min.js"></script>
<!---->
<script src="${ContextPath}/js/bootstrap-table.js"></script>
<script src="${ContextPath}/js/bootstrap-table-multiple-sort.js"></script>
<script src="${ContextPath}/js/bootstrap-table-export.js"></script>
<script src="${ContextPath}/js/tableExport.js"></script>

<!--
<script type="text/javascript" src="${ContextPath}/js/bootstrap-dialog.min.js"></script>
-->
<script>
	$(function(){
		
		//$("#sample-table-1").tablesorter();
		//$('#sample-table-1').bootstrapTable();
		
		$("a[data-toggle='DETAIL']").click(function(){

			var client = $(this).attr("client");
			BootstrapDialog.show({
				title   : "DETAIL",
				message : $('<div></div>').load('detail/' + client),
				onshow: function(dialogRef){ }
	      	});
		});
	});
	
	function removeClient(obj){
	
		var client = $(obj).attr('client');
		console.log("attemp to remove " + client);
		BootstrapDialog.show({
            message: "确定要删除用户账号？",
            buttons:[{
            	label : '是',
            	cssClass: 'btn-primary',
            	action: function(dialogItself){
            		jQuery.ajax({
			  			url    : '${ContextPath}/web/admin/delUser?userName=' + client,
			  			type   : 'DELETE',
			  			success: function(data){ 
			  				$('#sample-table-1').bootstrapTable('remove', {field: 'id', values: [client]});
			  			},
			  			error  : function(error){ }
			  		});
            		dialogItself.close();
            	}
            },{
            	label : '否',
            	action: function(dialogItself){ dialogItself.close(); }
            }]
        });
	}
	
	function blankClient(obj){
	
		var client = $(obj).attr('client');
		console.log("attemp to clear " + client);
		
		BootstrapDialog.show({
            message: "确定要清空用户数据？",
            buttons:[{
            	label : '是',
            	cssClass: 'btn-primary',
            	action: function(dialogItself){
            		jQuery.ajax({
			  			url    : '${ContextPath}/web/admin/clearRecord?userName=' + client,
			  			type   : 'DELETE',
			  			success: function(data){
			  				alert("成功");
			  			},
			  			error  : function(error){ }
			  		});
            		dialogItself.close();
            	}
            },{
            	label : '否',
            	action: function(dialogItself){ dialogItself.close(); }
            }]
        });
	}
</script>

<div class="row">

	<div class="col-sm-11">
		<table id='sample-table-1'
                data-search="true" data-show-multi-sort="true" data-show-export="true"
                data-toggle="table" data-sort-name="score" data-sort-order="desc" 
                data-id-field="id">             
		    <thead>
		        <tr>
		        	<th data-field="id">ID</th>
		        	<th data-field="name" data-sortable="true">用户</th>
		        	<th data-field="rate" data-sortable="true">准确率(%)</th>
		            <th data-field="total" data-sortable="true">验证码总数(次)</th>
		            <th data-field="avgCost" data-sortable="true">平均反应速度(ms)</th>
		            <th data-field="score" data-sortable="true">综合分</th>
		            <th data-field="lastUpdate" data-sortable="true">最后在线时间</th>
		            <th data-field="operations">操作</th>
		        </tr> 
		    </thead> 
		    <tbody>
		    	#foreach(${client} in ${clients})
		        <tr> 
		        	<td>${client.host}</td>
		            <td><a data-toggle="DETAIL" href="#" client='${client.host}'>${client.userName}</a></td> 
		            <td>${client.correctRate}%</td>
		            <td>${client.total}</td>
		            <td>${client.avgCost}</td>
		            <td>${client.totalScore}</td>
		            <td>${client.updateTime}</td>
		            <td>
		            	<button class="btn btn-xs btn-danger" client="${client.host}" onclick="return blankClient(this);">
		            		<span class="glyphicon glyphicon-transfer"></span>
		            	</button>
		            	<button class="btn btn-xs btn-danger" client="${client.host}" onclick="return removeClient(this);">
		            		<span class="glyphicon glyphicon-remove-circle"></span>
		            	</button>
		            </td>
		        </tr>
		        #end
		    </tbody> 
		</table>
	</div>
</div>