#set( $ContextPath = ${request.contextPath} )
#set($layout="layout/layoutACE.vm")

<!--[if !IE]> -->
<script src="${ContextPath}/assets/js/jquery-2.0.3.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="${ContextPath}/assets/js/jquery-1.10.2.min.js'></script>
<![endif]-->

<script type="text/javascript">
	var startTime;
	var count;

	jQuery(function(){
		
		init();
		refresh();
		
		//签到
		$("i[toggle='signHere']").click(function(){
			
			jQuery.ajax({
	  			url    : '${ContextPath}/web/user/${currentUser}/sign',
	  			type   : 'POST',
	  			success: function(data){ 
	  				alert(data);
	  				refresh();
	  			},
	  			error  : function(error){ }
	  		});
		});
		
		$('#inputCaptcha').keydown(function (event) {

		    if((event.keyCode >= 48 && event.keyCode <= 57)
		    	|| (event.keyCode >=96 && event.keyCode <=105) 
		    	|| event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37)
		    	;
		    else if (event.keyCode == 32 || event.keyCode == 13){

				if($('#btnStart').attr('disabled') == 'disabled'){
					submitResult();
			    	max = $("#slider-range-min").slider("value");
			    	if(count < max){
				    	setTimeout(function(){
				    		count ++ ;
				    		loadCaptcha();
						}, 1000);
			    	} else {
			    		init();
			    		refresh();
			    	}
				}
		    	event.preventDefault();
		    }else
		    	event.preventDefault();
		});
		
		jQuery('#btnEnd').click(function(){
			$(this).attr('disabled', 'disabled');
			$('#btnStart').removeAttr('disabled');
			init();
			refresh();
		});
		
		$('#btnStart').click(function(){

			count = 1;
			loadCaptcha();
			$(this).attr('disabled', 'disabled');
			$('#btnEnd').removeAttr('disabled');
		});

		$( "#slider-range-min" ).slider({
			range: "min",
			value: 25,
			min  : 5,
			max  : 150,
			slide: function( event, ui ) { $( "#amount" ).val( ui.value ); }
	    });
	    $( "#amount" ).val( $( "#slider-range-min" ).slider( "value" ) );
	    
	    $('.easy-pie-chart.percentage').each(function(){
			var $box = $(this).closest('.infobox');
			var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
			var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
			var size = parseInt($(this).data('size')) || 50;
			$(this).easyPieChart({
				barColor: barColor,
				trackColor: trackColor,
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: parseInt(size/10),
				animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
				size: size
			});
		});
		
		$("a[data-toggle='ADMIN-BOARD']").click(function(){
			BootstrapDialog.show({
				title   : "管理员有话要说",
				message : $('<div><img src="${ContextPath}/images/HELP.jpg" style="width:500px;"/></div>'),
				onshow: function(dialogRef){ }
			});
		});
		
		$('#RankingList').load("${ContextPath}/web/user/rankingList");
	});
	
	function refresh(){
		var endPoint = "${ContextPath}/rest/service/exam/client/${currentUser}";
		jQuery.ajax({
			type : "GET",
  			url  : endPoint,
  			contentType: 'application/json; charset=utf-8',
  			success: function(data){

  				$('#score').html(data.totalScore);
  				
  				$('#captchaTotal').html("已完成" + data.total + "次");
  				var rate = Math.floor(data.correctRate);
  				
  				$('#correctRate').attr('data-percent', rate);
  				$('#correctRate>span').html(rate);
  				if(rate >= 96)
  					$('#correctRate-TIPS').html('请保持好状态！');
  				else
  					$('#correctRate-TIPS').html('有待提高，请加油！');
  				
  				$('#captchaAvgCost').html(parseInt(data.avgCost) + "ms");
  			},
  			error:function(error){ alert("更新数据失败，请稍后再试"); }
		});
	}
	
	function init(){
	
		$('#inputCaptcha').val('');
		$('#btnStart').removeAttr('disabled');
		$('#btnEnd').attr('disabled', 'disabled');
		$('#imgCaptcha').attr('src', "${ContextPath}/images/loadCaptcha.bmp");
		$('#BID-CAPTCHA-TIP').html("<font color='red'>1. 看清这里的验证码提示<br/>2. 然后输入正确的验证码<br/>3. 输入完毕后按【空格】</font>");
	}
	
	function submitResult(){
	
		endTime = new Date();
		var correct = $('#imgCaptcha').attr('value');
		var inputVal = $('#inputCaptcha').val();
		var cost = endTime.getTime() - startTime.getTime();
		var reqParam = { cost : cost, correct : correct==inputVal};
		$('#BID-CAPTCHA-RESULT').html(correct!=inputVal ? '<img style="height:30px;" src="${ContextPath}/images/Error.jpg"/>' : '<img style="height:30px;" src="${ContextPath}/images/OK.jpg"/>');
		jQuery.ajax({
			type : "POST",
  			url  : "${ContextPath}/rest/service/exam/client/${currentUser}/record",
  			data : JSON.stringify(reqParam),
  			contentType: 'application/json; charset=utf-8',
  			success: function(data){ },
  			error:function(error){ }
		});
	}
	
	function loadCaptcha(){
		var left = $('#amount').val();
		$('#amount').val(left-1);
		
		$('#inputCaptcha').val('');
		$("#imgCaptcha").attr("src", "${ContextPath}/images/loadCaptcha.bmp");
		$("#imgCaptcha").attr("value", "");
		$("#BID-CAPTCHA-TIP").html("");
		$('#BID-CAPTCHA-RESULT').html("");
		
		jQuery.ajax({
  			url : '${ContextPath}/rest/service/simulate/captcha',
  			cache:false, 
  			success: function(data){
  				$("#imgCaptcha").attr("src", '${ContextPath}/' + data.url);
  				$("#imgCaptcha").attr("value", data.value);
  				$("#BID-CAPTCHA-TIP").html(data.tip);
  				startTime = new Date();
  			},
  			error:function(error){
  				
  				$("#imgCaptcha").attr("src", "#");
  				$("#imgCaptcha").attr("value", "");
  				$("#BID-CAPTCHA-TIP").html("获取验证码异常！");
  			}
		});
		$('#inputCaptcha').focus();
	}
</script>

<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">控制台</li>
	</ul><!-- .breadcrumb -->

	<div class="nav-search" id="nav-search">
		<!--<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
				<i class="icon-search nav-search-icon"></i>
			</span>
		</form>-->
	</div><!-- #nav-search -->
</div>

<div class="page-content">
	<div class="page-header">
		<h1>控制台<small><i class="icon-double-angle-right"></i>查看</small></h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div class="row">
				<div class="space-6"></div>

				<div class="alert alert-block alert-success">
					<button data-dismiss="alert" class="close" type="button">
						<i class="icon-remove"></i>
					</button>
					<center>$!{comment}</center>
					<center><span style="color:#FF0000;" class="glyphicon glyphicon-question-sign"/><a href="#" data-toggle="ADMIN-BOARD" style="font-weight:bold;font-size:16px;color:#FF0000;">管理员有话要说</a></center>
				</div>

				<div class="col-sm-3 infobox-container" style="width:260px;">
					<div class="infobox infobox-red">
						<div class="infobox-icon" style="cursor:pointer;">
							<i class="icon-heart" toggle="signHere"></i>
						</div>
						<div class="infobox-data">
							<!--<span class="infobox-data-number" id="checkIns">综合分:</span>-->
							<span class="infobox-text">综合分</span>
							<div class="infobox-content" id="score"></div>
						</div>
						<!-- <div class="stat stat-important">4%</div> -->
						#if(${SCORE-RANK} != $null)
						<div class="badge badge-success">排名：${SCORE-RANK.rank}</div>
						#end
					</div>
					
					<div class="infobox infobox-blue2"><!-- 验证码 -->
						<div class="infobox-icon"><i class="icon-tasks"></i></div>
						<div class="infobox-data">
							<span class="infobox-text">验证码</span>
							<!--<span class="infobox-data-number">验证码</span>-->
							<div class="infobox-content" id="captchaTotal"></div>
						</div>
						#if(${CAPTCHA-RANK} != $null)
						<div class="badge badge-success">排名：${CAPTCHA-RANK.rank}</div>
						#end
					</div>
					
					<div class="infobox infobox-blue2">
						<div class="infobox-progress">
							<div class="easy-pie-chart percentage" data-percent="${rate}" data-size="46" id="correctRate">
								<span class="percent">${rate}</span>%
							</div>
						</div>
						<div class="infobox-data">
							<span class="infobox-text">准确率</span>
							<div class="infobox-content">
								<span class="bigger-110" id="correctRate-TIPS">请保持好状态</span>
							</div>
						</div>
						#if(${RATE-RANK} != $null)
						<div class="badge badge-success">排名：${RATE-RANK.rank}</div>
						#end
					</div>
					
					<div class="infobox infobox-blue2">
						<div class="infobox-icon"><i class="icon-exchange"></i></div>
						<div class="infobox-data">
							<span class="infobox-text">平均耗时</span>
							<div class="infobox-content" id="captchaAvgCost"></div>
						</div>
					</div>

					<div class="space-6"></div>
				</div>

				<div class="vspace-sm"></div>
				
				<div class="col-sm-5" style="width:500px;background: no-repeat url(../../images/bids.bmp);">
					<div class="widget-box">
						<div style="height:60px;">
						<!--<div class="widget-header widget-header-flat widget-header-small">-->
							<!--<h5><i class="icon-signal"></i>校验码模拟练习器</h5>-->
						</div>
						<div>
							<div class="widget-main">
								<div id="piechart-placeholder">
									<p align="center" style="font-size:18px;">您的出价为：<span id="userGivePrice">83300</span>元</p>
									<p align="center" style="font-size:18px; margin-top: 25px;">请输入校验码：
										<input type="text" style="text-align:center;padding:4px 4px;margin-right:25px;border:2px solid blue" id="inputCaptcha" size="10">
										<img style="font-size:16px;" alt="正在获取校验码" src="${ContextPath}/images/loadCaptcha.bmp" id="imgCaptcha">
									</p>
									<p align="center" id="BID-CAPTCHA-TIP" style="font-size:16px; margin-top: 20px;font-family:'SimSun';"></p>
									<p align="center" id="BID-CAPTCHA-RESULT" style="font-size:16px; margin-top: 10px;font-family:'SimSun';"></p>
									<p align="center" style="font-family:'SimSun'; margin-top: 25px;">
						         		<button id="btnStart" style="margin-right:35px; width:120px;" type="button" class="btn btn-app btn-xs btn-primary">开&nbsp;&nbsp;&nbsp;始</button>
						         		<button id="btnEnd" disabled="disabled" style="margin-left: 35px; width:120px;" type="button" class="btn btn-app btn-xs btn-primary">结&nbsp;&nbsp;&nbsp;束</button>
						         	</p>
									<p align="center" style="margin-top:30px;">
									  <label for="amount">模拟次数：</label>
									  <input type="text" id="amount" style="width:80px;border:0; color:#f6931f; font-weight:bold;">
									</p>
									<div id="slider-range-min"></div>
								</div>

								<div class="hr hr8 hr-double">
								</div>

								<div class="clearfix">
									<div class="grid3"></div>
									<div class="grid3">
										<!-- 
										<button class="btn btn-app btn-sm btn-default"><i class="icon-play-circle align-top bigger-125"></i>开始</button>
										<button class="btn btn-app btn-sm btn-default"><i class="icon-play-circle align-top bigger-125"></i>结束</button>
										 -->
									</div>
									<div class="grid3">
										<!--<span class="grey">
											<i class="icon-pinterest-sign icon-2x red"></i>&nbsp; pins
										</span>
										<h4 class="bigger pull-right">1,050</h4>-->
									</div>
								</div>
							</div><!-- /widget-main -->
						</div><!-- /widget-body -->
					</div><!-- /widget-box -->
				</div><!-- /span -->
				
				<div class="col-sm-4" id="RankingList">
				</div>
			</div><!-- /row -->

</div><!-- /.page-content -->
