#set( $ContextPath = ${request.contextPath} )
#set($layout="layout/layoutACE.vm")

<!--[if !IE]> -->
<script src="${ContextPath}/assets/js/jquery-2.0.3.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="${ContextPath}/assets/js/jquery-1.10.2.min.js'></script>
<![endif]-->

<script src="${ContextPath}/assets/js/jquery.timers.js" type="text/javascript"></script>
<script src="${ContextPath}/assets/js/date.js" type="text/javascript"></script>

<script type="text/javascript">
	var startTime;
	var count;

	jQuery(function(){
		
		$('body').everyTime('1s','A',function(){ $('#TIMER').html(new Date().pattern("HH:mm:ss.S")); });
		
		clear();
		refresh();
		
		//签到
		$("i[toggle='signHere']").click(function(){
			
			jQuery.ajax({
	  			url    : '${ContextPath}/web/user/${currentUser}/sign',
	  			type   : 'POST',
	  			success: function(data){ 
	  				alert(data);
	  				refresh();
	  			},
	  			error  : function(error){ }
	  		});
		});
		
		$('#userInput').keydown(function(event){
			
			console.log(event.keyCode);
			if((event.keyCode >= 48 && event.keyCode <= 57)
		    	|| (event.keyCode >=65 && event.keyCode <=90)
		    	|| (event.keyCode >=96 && event.keyCode <=105)
		    	|| event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37)
		    	;
		    else if (event.keyCode == 32 || event.keyCode == 13){

				submitResult();
		    	if(count < 25){
			    	setTimeout(function(){ showCaptcha(); }, 1000);
		    	} else {

		    		refresh();
		    		clear();
		    	}

		    	event.preventDefault();
		    }else
		    	event.preventDefault();
		});
		
		$('#start').click(function(){
			
			$(this).attr('disabled', 'disabled');
			$('#FINISH').html('0');
			count = 1;
			showCaptcha();
		});
		
		$('#btnStart').click(function(){

			count = 0;
			loadCaptcha();
			$(this).attr('disabled', 'disabled');
			$('#btnEnd').removeAttr('disabled');
		});

		$( "#slider-range-min" ).slider({
			range: "min",
			value: 25,
			min  : 5,
			max  : 150,
			slide: function( event, ui ) { $( "#amount" ).val( ui.value ); }
	    });
	    $( "#amount" ).val( $( "#slider-range-min" ).slider( "value" ) );
	    
	    $('.easy-pie-chart.percentage').each(function(){
			var $box = $(this).closest('.infobox');
			var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
			var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
			var size = parseInt($(this).data('size')) || 50;
			$(this).easyPieChart({
				barColor: barColor,
				trackColor: trackColor,
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: parseInt(size/10),
				animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
				size: size
			});
		});
		
		$("a[data-toggle='ADMIN-BOARD']").click(function(){
			BootstrapDialog.show({
				title   : "管理员有话要说",
				//message : $('<div><img src="${ContextPath}/images/HELP.jpg" style="width:500px;"/></div>'),
				message: $('<div style="width:500px;"></div>').load("${ContextPath}/web/user/board"),
				onshow: function(dialogRef){ }
			});
		});
		
		$('#RankingList').load("${ContextPath}/web/user/rankingList");
	});
	
	function refresh(){
		var endPoint = "${ContextPath}/rest/service/exam/client/${currentUser}";
		jQuery.ajax({
			type : "GET",
  			url  : endPoint,
  			contentType: 'application/json; charset=utf-8',
  			success: function(data){

  				$('#score').html(data.totalScore);
  				
  				$('#captchaTotal').html("已完成" + data.total + "次");
  				var rate = Math.floor(data.correctRate);
  				
  				$('#correctRate').attr('data-percent', rate);
  				$('#correctRate>span').html(rate);
  				if(rate >= 96)
  					$('#correctRate-TIPS').html('请保持好状态！');
  				else
  					$('#correctRate-TIPS').html('有待提高，请加油！');
  				
  				$('#captchaAvgCost').html(parseInt(data.avgCost) + "ms");
  			},
  			error:function(error){ alert("更新数据失败，请稍后再试"); }
		});
	}
	
	function init(){
	
		$('#inputCaptcha').val('');
		$('#btnStart').removeAttr('disabled');
		$('#btnEnd').attr('disabled', 'disabled');
		$('#imgCaptcha').attr('src', "${ContextPath}/images/loadCaptcha.bmp");
		$('#BID-CAPTCHA-TIP').html("<font color='red'>1. 看清这里的验证码提示<br/>2. 然后输入正确的验证码<br/>3. 输入完毕后按【空格】</font>");
	}
	
	function clear(){

		$('#userInput').val('');
		$('#start').removeAttr('disabled');
		$('#captcha').attr('src', "");
		$('#tip').html('校验码提示！');
	}
	
	function submitResult(){
	
		endTime = new Date();
		var cost = endTime.getTime() - startTime.getTime();
		
		var correct = $('#captcha').attr('value');
		var inputVal = $('#userInput').val();
		
		$('#captcha').removeAttr('value');
		$('#captcha').attr('src', '');
		$('#tip').html('验证码提示！');
		$('#userInput').val('');
		
		var reqParam = { cost : cost, correct : correct==inputVal};
		$('#BID-CAPTCHA-RESULT').html(correct!=inputVal ? '<br/>' + correct + '<img style="height:30px;" src="${ContextPath}/images/Error.jpg"/>' : '<img style="height:30px;" src="${ContextPath}/images/OK.jpg"/>');
		jQuery.ajax({
			type : "POST",
  			url  : "${ContextPath}/rest/service/exam/client/${currentUser}/record",
  			data : JSON.stringify(reqParam),
  			contentType: 'application/json; charset=utf-8',
  			success: function(data){ },
  			error:function(error){ }
		});
		
		var finish = parseInt($('#FINISH').html());
		$('#FINISH').html(finish+1);
	}
	
	function showCaptcha(){
		
		count ++ ;
		$('#BID-CAPTCHA-RESULT').html("");
		jQuery.ajax({
  			url  : '${ContextPath}/rest/service/simulate/captcha/random',
  			cache: false, 
  			success: function(data){

				$("<img/>").appendTo($("#tip"));
  				$("#tip img").attr("src", 'data:image/jpeg;base64,' + data.tip);
  				//$("#tip").html(data.tip);
  				$('#captcha').oneTime(500, function(){
					
					$("#captcha").attr("src", 'data:image/jpeg;base64,' + data.captcha);
					//$("#captcha").attr("src", '${ContextPath}/' + data.url);
  					$("#captcha").attr("value", data.value);
				});
  				startTime = new Date();
  			},
  			error:function(error){
  				
  				$("#captcha").attr("src", "#");
  				$("#captcha").attr("value", "");
  				$("#tip").html("获取验证码异常！");
  			}
		});
		$('#userInput').focus();
	}
	
	function loadCaptcha(){
		var left = $('#amount').val();
		$('#amount').val(left-1);
		
		$('#inputCaptcha').val('');
		$("#imgCaptcha").attr("src", "${ContextPath}/images/loadCaptcha.bmp");
		$("#imgCaptcha").attr("value", "");
		$("#BID-CAPTCHA-TIP").html("");
		$('#BID-CAPTCHA-RESULT').html("");
		
		jQuery.ajax({
  			url  : '${ContextPath}/rest/service/simulate/captcha/random',
  			cache:false, 
  			success: function(data){
  				//$("#imgCaptcha").attr("src", '${ContextPath}/' + data.url);
  				//$("#imgCaptcha").attr("value", data.value);
  				//$("#BID-CAPTCHA-TIP").html(data.tip);
  				
  				$("#imgCaptcha").attr("src", 'data:image/jpeg;base64,' + data.captcha); 
  				$("#imgCaptcha").attr("value", data.value);
  				$("<img/>").appendTo($("#BID-CAPTCHA-TIP"));
  				$("#BID-CAPTCHA-TIP img").attr("src", 'data:image/jpeg;base64,' + data.tip);
  				startTime = new Date();
  			},
  			error:function(error){
  				
  				$("#imgCaptcha").attr("src", "#");
  				$("#imgCaptcha").attr("value", "");
  				$("#BID-CAPTCHA-TIP").html("获取验证码异常！");
  			}
		});
		$('#inputCaptcha').focus();
	}
</script>

<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">控制台</li>
	</ul><!-- .breadcrumb -->

	<div class="nav-search" id="nav-search">
		<!--<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
				<i class="icon-search nav-search-icon"></i>
			</span>
		</form>-->
	</div><!-- #nav-search -->
</div>

<div class="page-content">
	<div class="page-header">
		<h1>控制台<small><i class="icon-double-angle-right"></i>查看</small></h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div class="row">
				<div class="space-6"></div>

				<div class="alert alert-block alert-success">
					<button data-dismiss="alert" class="close" type="button">
						<i class="icon-remove"></i>
					</button>
					<center>$!{comment}</center>
					<center><span style="color:#FF0000;" class="glyphicon glyphicon-question-sign"/><a href="#" data-toggle="ADMIN-BOARD" style="font-weight:bold;font-size:16px;color:#FF0000;">管理员有话要说</a></center>
				</div>

				<div class="col-sm-3 infobox-container" style="width:260px;">
					<div class="infobox infobox-red">
						<div class="infobox-icon" style="cursor:pointer;">
							<i class="icon-heart" toggle="signHere"></i>
						</div>
						<div class="infobox-data">
							<!--<span class="infobox-data-number" id="checkIns">综合分:</span>-->
							<span class="infobox-text">综合分</span>
							<div class="infobox-content" id="score"></div>
						</div>
						<!-- <div class="stat stat-important">4%</div> -->
						#if(${SCORE-RANK} != $null)
						<div class="badge badge-success">排名：${SCORE-RANK.rank}</div>
						#end
					</div>
					
					<div class="infobox infobox-blue2"><!-- 验证码 -->
						<div class="infobox-icon"><i class="icon-tasks"></i></div>
						<div class="infobox-data">
							<span class="infobox-text">验证码</span>
							<!--<span class="infobox-data-number">验证码</span>-->
							<div class="infobox-content" id="captchaTotal"></div>
						</div>
						#if(${CAPTCHA-RANK} != $null)
						<div class="badge badge-success">排名：${CAPTCHA-RANK.rank}</div>
						#end
					</div>
					
					<div class="infobox infobox-blue2">
						<div class="infobox-progress">
							<div class="easy-pie-chart percentage" data-percent="${rate}" data-size="46" id="correctRate">
								<span class="percent">${rate}</span>%
							</div>
						</div>
						<div class="infobox-data">
							<span class="infobox-text">准确率</span>
							<div class="infobox-content">
								<span class="bigger-110" id="correctRate-TIPS">请保持好状态</span>
							</div>
						</div>
						#if(${RATE-RANK} != $null)
						<div class="badge badge-success">排名：${RATE-RANK.rank}</div>
						#end
					</div>
					
					<div class="infobox infobox-blue2">
						<div class="infobox-icon"><i class="icon-exchange"></i></div>
						<div class="infobox-data">
							<span class="infobox-text">平均耗时</span>
							<div class="infobox-content" id="captchaAvgCost"></div>
						</div>
					</div>

					<div class="space-6"></div>
				</div>

				<div class="vspace-sm"></div>
				
				<div class="col-sm-5" style="width:520px;">
					<div class="panel panel-default">
					  <div class="panel-heading">
					  	<div class="row">
					  		<div class="col-sm-8"><h5 class="panel-title">校验码练习器</h5></div>
					  		<div class="col-sm-4" style="text-align:right;">
					  			<span id="SPANQ">本次完成<span id="FINISH" class="badge">???</span></span>
					  		</div>
					  	</div>
					  </div>
					  <div class="panel-body">
					  	<div class="alert alert-block alert-success">
							<button data-dismiss="alert" class="close" type="button"><i class="icon-remove"></i></button>
							<span style="color:blue;" class="glyphicon glyphicon-info-sign">操作须知!</span></br>
							1. 首先看清<font color="red">校验码提示</font></br>
							2. 按提示输入正确的校验码</br>
							3. 输入完毕后按【空格】</br>
						</div>
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-3 control-label" style="margin-top:10px;">校验码图片：</label>
								<div class="col-sm-7">
									<span style="height:52px;width:200px;color:red;font-size:large;margin-bottom:10px;border:2px solid #000000;text-align:center;display:inline-block;">
										<img id="captcha" alt="验证码图片加载中..." height="48" width="196" border="2"/>
									</span>
								</div>
								<div class="col-sm-2"></div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" style="margin-top:10px;">校验码提示：</label>
								<div class="col-sm-7" style="text-align:center;">
									<div style="color:red;font-size:large;text-align:center;width:260px;">
										<label id="tip" style="font-size:16px; margin-top: 10px;font-family:'SimSun';">校验码提示！</label>
										<span id="BID-CAPTCHA-RESULT" style="font-size:16px; margin-top: 10px;font-family:'SimSun';"></span>
									</div>
								</div>
								<div class="col-sm-2"></div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">输入校验码：</label>
								<div class="col-sm-7" style="text-align:center;">
									<p style="color:red;font-size:large;text-align:center;width:200px;">
									<input type="text" id="userInput" style="margin-bottom:10px;height:32px;text-align:center;"/>
									</p>
								</div>
								<div class="col-sm-2"></div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label"></label>
								<div class="col-sm-7" style="text-align:center;">
								</div>
								<div class="col-sm-2"></div>
							</div>
						</form>
						<!--
						<div style="text-align:center;">
							<p style="text-align:center;">
								<span style="height:52px;width:200px;color:red;font-size:large;margin-bottom:10px;border:2px solid #000000;text-align:center;display:inline-block;">
									<img id="captcha" alt="验证码图片加载中..." height="48" width="196" border="2"/>
								</span>
							</p>
						</div>
						<div style="color:red;font-size:large;margin-bottom:10px;text-align:center;">
							<label id="tip" style="font-size:16px; margin-top: 10px;font-family:'SimSun';">校验码提示！</label><br/>
							<p align="center" id="BID-CAPTCHA-RESULT" style="font-size:16px; margin-top: 10px;font-family:'SimSun';"></p>
							<input type="text" id="userInput" style="margin-bottom:10px;height:32px;text-align:center;"/>
						</div>
						-->
						<div style="text-align:center;font-family:'SimSun'; margin-top: 15px;">
							<button id="start" class="btn btn-app btn-xs btn-primary" style="width:120px">开&nbsp;始&nbsp;测&nbsp;试</button>
						</div>
						
					  </div>
					  <div class="panel-footer" style="text-align:center;"><label id="TIMER">00:00:00.000</label></div>
					</div>
				</div>
				
				<div class="col-sm-4" id="RankingList">
				</div>
			</div><!-- /row -->

</div><!-- /.page-content -->
