#set( $ContextPath = ${request.contextPath} )
#set( $layout = "layout/layoutBlank.vm" )

<link rel="stylesheet" href="${ContextPath}/css/bootstrap.css" >
<link rel="stylesheet" type="text/css" href="${ContextPath}/css/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="${ContextPath}/css/jsoneditor.css"></link>

<script type="text/javascript" src="${ContextPath}/js/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="${ContextPath}/js/jquery/jquery.maskedinput.js"></script>
<script type="text/javascript" src="${ContextPath}/js/jquery/jquery.tags.js"></script>
<script type="text/javascript" src="${ContextPath}/js/jquery/jquery.jsoneditor.js"></script>

<script type="text/javascript" src="${ContextPath}/js/bootstrap-select.min.js"></script>

<script>
	var strTags = "$!{config.tags}";
	function modify(){
		var config = {
			'no'     : $('#configID').val(),
			'passwd' : $('#password').val(),
			'pid'    : $('#pid').val(),
			'pname'  : $('#pname').val(),
			'tags'   : $('#tags').val()
		};
		var endPoint = "${ContextPath}/rest/service/command/config";
		$.ajax({
			url  : endPoint,
			type : 'PUT',
			cache: false,
			data : JSON.stringify(config),
			contentType: 'application/json; charset=utf-8',
			success : function(json) {
				alert("SUCCESS");
				console.log(" reponse :"+ json);
            },
            error: function(msg) { alert("error"); }
		});
	}
	
	function assign(){

		var host = $('#clientEdit').children('option:selected').val();
		if(host == ''){//删除分配
		
			var endPoint = "${ContextPath}/rest/service/command/config/" + $('#configID').val() + "/client";
			$.ajax({
				url  : endPoint,
				type : 'DELETE',
				cache: false,
				success: function(json) {
					alert("SUCCESS");
					console.log(" reponse :"+ json);
	            },
	            error: function(msg) { alert("error"); },
			});
		} else {//分配

			var policyType = $("div[toggle*='POLICY'].active").attr('id');
			var policy = {};
			var endPoint = "${ContextPath}/rest/service/command/config/" + $('#configID').val();
			endPoint += "/client/" + $("#clientEdit").val();
			if("tab_v1" == policyType){
			
				endPoint += "/triggerV1";
				policy = {
					'category'   : 'V1',
					'deltaPrice' : $('div[toggle*="V1"] #deltaPrice').val(),
					'priceTime'  : $('div[toggle*="V1"] #priceTime').val(),
				};
		
				if($('div[toggle*="V1"] #checkCaptchaTime').is(':checked'))
					policy.captchaTime = $('div[toggle*="V1"] #captchaTime').val();
				if($('div[toggle*="V1"] #checkSubmitTime').is(':checked'))
					policy.submitTime = $('div[toggle*="V1"] #submitTime').val();
				if($('div[toggle*="V1"] #checkReachPrice').is(':checked'))
					policy.submitReachPrice = $('div[toggle*="V1"] #submitReachPrice').val();
			}
			if("tab_v2" == policyType){
				
				endPoint += "/triggerV2";
				var triggers = [{
						'category'   : 'V1',
						'deltaPrice' : $('#deltaPrice1').val(),
						'priceTime'  : $('#priceTime1').val(),
						'submitTime' : $('#submitTime1').val()
					},{
						'category'   : 'V1',
						'deltaPrice' : $('#deltaPrice2').val(),
						'priceTime'  : $('#priceTime2').val(),
						'submitTime' : $('#submitTime2').val()
					}];
				policy = {triggers, 'category' : 'V2'};
			}
			if("tab_v3" == policyType){
				
				var v3Common = $('#jsonContent').html();
				endPoint += "/triggerV3";
				policy = {
					'category'   : 'V3',
					'deltaPrice' : $('div[toggle*="V3"] #deltaPrice').val(),
					'priceTime'  : $('div[toggle*="V3"] #priceTime').val(),
					'submitTime' : $('div[toggle*="V3"] #submitTime').val(),
					'common'     : JSON.parse(v3Common)
				};
			}

			$.ajax({
				url  : endPoint,
				type : 'PUT',
				cache: false,
				data : JSON.stringify(policy),
				contentType: 'application/json; charset=utf-8',
				success: function(json) {
					alert("SUCCESS");
					console.log(" reponse :"+ json);
	            },
	            error: function(msg) { alert("error"); },
			});
		}
	}
	
	#if(${config.client.tips})
	var tips = $!{config.client.tips};
	#end
	$(function(){
		var json = JSON.parse($('#jsonContent').html());
		$('#editor').jsonEditor(json, {
			change:function(){
				$('#jsonContent').html(JSON.stringify(json));
			}
		});
		
		$("input[toggle*='PRICE']").mask("9999", {placeholder:"0600"});
		$("input[toggle*='TIMER']").mask("99:99:99", {placeholder:"hh:MM:ss"});

		$('#clientEdit').change(function(){
			
			console.log($(this).children('option:selected').val());
			if($(this).children('option:selected').val() != ''){
				$("#POLICY").show();
			} else {
				$("#POLICY").hide();
			}
		});
		
		$("#checkCaptchaTime").click(function(){ $('#captchaTime').attr("disabled", !$(this).is(':checked')); });
		$("#checkSubmitTime").click(function(){ $('#submitTime').attr("disabled", !$(this).is(':checked')); });
		$("#checkReachPrice").click(function(){ $('#submitReachPrice').attr("disabled", !$(this).is(':checked')); });
		
		//init UI
		if($('#clientEdit').children('option:selected').val() != ''){
			var trigger;
			$("#POLICY").show();
			if("V1" == tips.category){//V1
				
				$("[toggle*='V1']").addClass("active");
				trigger = tips;
				$('div[toggle*="V1"] #deltaPrice').val(trigger.deltaPrice);
				$('div[toggle*="V1"] #priceTime').val(trigger.priceTime);
				if(trigger.captchaTime != null){
					$('div[toggle*="V1"] #checkCaptchaTime').attr('checked', true);
					$('div[toggle*="V1"] #captchaTime').attr('disabled', false);
					$('div[toggle*="V1"] #captchaTime').val(trigger.captchaTime);
				} else {
					$('div[toggle*="V1"] #checkCaptchaTime').attr('checked', false);
					$('div[toggle*="V1"] #captchaTime').attr('disabled', true);
					$('div[toggle*="V1"] #captchaTime').val('00:00:00');
				}
				
				if(trigger.submitTime != null){
					$('div[toggle*="V1"] #checkSubmitTime').attr('checked', true);
					$('div[toggle*="V1"] #submitTime').attr('disabled', false);
					$('div[toggle*="V1"] #submitTime').val(trigger.submitTime);
				} else {
					$('div[toggle*="V1"] #checkSubmitTime').attr('checked', false);
					$('div[toggle*="V1"] #submitTime').attr('disabled', true);
					$('div[toggle*="V1"] #submitTime').val('00:00:00');
				}
				
				if(tips.submitReachPrice != null && trigger.submitReachPrice > 0){
					$('div[toggle*="V1"] #checkReachPrice').attr('checked', true);
					$('div[toggle*="V1"] #submitReachPrice').attr('disabled', false);
					$('div[toggle*="V1"] #submitReachPrice').val(trigger.submitReachPrice);
				} else {
					$('div[toggle*="V1"] #checkReachPrice').attr('checked', false);
					$('div[toggle*="V1"] #submitReachPrice').attr('disabled', true);
					$('div[toggle*="V1"] #submitReachPrice').val();
				}
			}//V1
			
			if("V2" == tips.category){//V2
			
				$("[toggle*='V2']").addClass("active");
				triggers = tips.triggers;
				$('#priceTime1').val(triggers[0].priceTime);
				$('#deltaPrice1').val(triggers[0].deltaPrice);
				$('#submitTime1').val(triggers[0].submitTime);
				
				$('#priceTime2').val(triggers[1].priceTime);
				$('#deltaPrice2').val(triggers[1].deltaPrice);
				$('#submitTime2').val(triggers[1].submitTime);
			}//V2
			
			if("V3" == tips.category){//V3
			
				$("[toggle*='V3']").addClass("active");
				triggers = tips.triggers;
				trigger = tips;
				$('div[toggle*="V3"] #deltaPrice').val(trigger.deltaPrice);
				$('div[toggle*="V3"] #priceTime').val(trigger.priceTime);
				$('div[toggle*="V3"] #submitTime').val(trigger.submitTime);
			}
		}
		else{
			$("#POLICY").hide();
		}

		if(strTags != "")
			$('#tags').tags(strTags.split(","));
		$('#clientEdit').selectpicker();
	});
</script>

<form class="form-horizontal" onsubmit="return false;">
	<fieldset>
		<div class="form-group">
			<label class="control-label col-sm-2" for="configID">投标号</label>
			<div class="controls col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="configID" class="form-control" disabled style="width:200px;height:30px;" type="text" value="${config.no}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="password">投标密码</label>
			<div class="controls col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="password" class="form-control" style="width:200px;height:30px;" type="text" value="${config.passwd}"></input>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pid">身份证</label>
			<div class="controls col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="pid" class="form-control" style="width:200px;height:30px;" type="text" value="${config.pid}"></input>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pname">姓名</label>
			<div class="controls col-sm-7">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="pname" class="form-control" style="width:200px;height:30px;" type="text" value="${config.pname}"></input>
				</div>
			</div>
			<div class="controls col-sm-3">
				<input type="button" class="btn btn-sm btn-primary" onclick="return modify();" value="保存"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="tags">TAGs</label>
			<div class="controls col-sm-6">
				<input id="tags" type="text" data-toggle="tags" placeholder="TAGs" style="width:100px;height:30px;" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>操作策略</legend>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="client">CLIENTs</label>
			<div class="controls col-sm-6">
				<select id="clientEdit" data-live-search="true" class="form-control" style="width:200px;height:40px;">
					<option value="">空</option>
					#if(${config.client})
						<option selected='selected' value='${config.client.ip}'>${config.client.ip}</option>
					#end
					#foreach(${client} in ${clients})
						<option value='${client.ip}'>${client.ip}[$!{client.config.no}]</option>
					#end
				</select>
			</div>
			<div class="control col-sm-3">
				<input type="button" class="btn btn-sm btn-primary" onclick="return assign();" value="设置"></input>
			</div>
		</div>
		
		<div class="form-group" toggle='TIP' id="POLICY">
<ul class="nav nav-pills  col-md-2">
	<li toggle="V1"><a href="#tab_v1" data-toggle="pill">V1</a></li>
	<li toggle="V2"><a href="#tab_v2" data-toggle="pill">V2</a></li>
	<li toggle="V3"><a href="#tab_v3" data-toggle="pill">V3</a></li>
</ul>
<div class="tab-content col-md-10">
		<!-- TAB POLICY V1 -->
        <div class="tab-pane" toggle='POLICY V1' id="tab_v1">
        	<div class="form-group" toggle='TIPS'>
				<label class="col-sm-4 control-label" for="priceTime">触发时间</label>
				<div class="controls col-sm-2">
					<input class="form-control" toggle="OPS TIMER" id="priceTime" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:48"/>
				</div>
				<label class="col-sm-2 control-label" for="deltaPrice">加价</label>
				<div class="controls col-sm-2">
					<input class="form-control" toggle="OPS PRICE" id="deltaPrice" type="text" placeholder="0600" style="width:100px;height:30px;" value="0600"/>
				</div>
			</div>
			<div class="form-group" toggle='TIPS'>
				<label class="col-sm-4 control-label" for="captchaTime">验证码触发时间<input type="checkbox" id="checkCaptchaTime"/></label>
				<div class="controls col-sm-8">
					<input class="form-control" toggle="TIMER" id="captchaTime" disabled="disabled" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:50"/>
				</div>
			</div>
			<div class="form-group" toggle="TIPS">
				<label class="col-sm-4 control-label" for="submitTime">提交触发时间<input checked="checked" type="checkbox" id="checkSubmitTime"/></label>
				<div class="control col-sm-8">
					<input class="form-control" toggle="OPS TIMER" id="submitTime" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:52"/>
				</div>
			</div>
			<div class="form-group" toggle="TIPS">
				<label class="col-sm-4 control-label" for="submitReachPrice">提交触发价格<input type="checkbox" id="checkReachPrice"/></label>
				<div class="control col-sm-8">
					<input class="form-control" toggle="OPS PRICE" id="submitReachPrice" type="text" placeholder="触发价格" style="width:100px;height:30px;" value=""/>
					出价离开最低价达到"触发价格"
				</div>
				<label class="col-sm-5 control-label"></label>
			</div>
        </div><!-- end TAB POLICY V1 -->
        <!-- TAB POLICY V2 -->
        <div class="tab-pane" toggle='POLICY V2' id="tab_v2">
             <fieldset>
	             <legend style="font-size:12pt;">策略1</legend>
	             <div class="form-group" toggle='TIPS'>
					<label class="col-sm-4 control-label" for="priceTime1">触发时间</label>
					<div class="controls col-sm-2">
						<input class="form-control" toggle="OPS TIMER" id="priceTime1" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:48"/>
					</div>
					<label class="col-sm-2 control-label" for="deltaPrice1">加价</label>
					<div class="controls col-sm-2">
						<input class="form-control" toggle="OPS PRICE" id="deltaPrice1" type="text" placeholder="0900" style="width:100px;height:30px;"/>
					</div>
				</div>
				<div class="form-group" toggle='TIPS'>
					<label class="col-sm-4 control-label" for="submitTime1">提交时间</label>
					<div class="controls col-sm-8">
						<input class="form-control" toggle="TIMER" id="submitTime1" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:50"/>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend style="font-size:12pt;">策略2</legend>
				<div class="form-group" toggle='TIPS'>
					<label class="col-sm-4 control-label" for="priceTime2">触发时间</label>
					<div class="controls col-sm-2">
						<input class="form-control" toggle="OPS TIMER" id="priceTime2" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:48"/>
					</div>
					<label class="col-sm-2 control-label" for="deltaPrice2">加价</label>
					<div class="controls col-sm-2">
						<input class="form-control" toggle="OPS PRICE" id="deltaPrice2" type="text" placeholder="0600" style="width:100px;height:30px;"/>
					</div>
				</div>
				<div class="form-group" toggle='TIPS'>
					<label class="col-sm-4 control-label" for="submitTime2">提交时间</label>
					<div class="controls col-sm-8">
						<input class="form-control" toggle="TIMER" id="submitTime2" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:50"/>
					</div>
				</div>
			</fieldset>
        </div><!-- end TAB POLICY V2 -->
        <!-- TAB POLICY V3 -->
        <div class="tab-pane" toggle='POLICY V3' id="tab_v3">
        	<div class="form-group" toggle='TIPS'>
				<label class="col-sm-4 control-label" for="priceTime">触发时间</label>
				<div class="controls col-sm-2">
					<input class="form-control" toggle="OPS TIMER" id="priceTime" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:48"/>
				</div>
				<label class="col-sm-2 control-label" for="deltaPrice">加价</label>
				<div class="controls col-sm-2">
					<input class="form-control" toggle="OPS PRICE" id="deltaPrice" type="text" placeholder="0600" style="width:100px;height:30px;" value="0600"/>
				</div>
			</div>
			<div class="form-group" toggle="TIPS">
				<label class="col-sm-4 control-label" for="submitTime">提交触发时间</label>
				<div class="control col-sm-8">
					<input class="form-control" toggle="OPS TIMER" id="submitTime" type="text" placeholder="触发时间" style="width:100px;height:30px;" value="11:29:52"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="jsonContent">jsonContent</label>
				<div class="controls 10">
					<textarea class="form-control" rows="1" style="height:10px;width:300px;visibility:hidden;" id="jsonContent">${v3Common}</textarea>
				</div>
				<div id="editor" class="json-editor" class="controls 10"></div>
			</div>
        </div><!-- end TAB POLICY V3 -->
</div><!-- END tab content -->
		</div>
		
	</fieldset>
</form>