#set( $ContextPath = ${request.contextPath} )
#set( $layout = "layout/layoutBlank.vm" )

<link rel="stylesheet" type="text/css" href="${ContextPath}/css/bootstrap-table.css">

<script src="${ContextPath}/js/bootstrap-table.js"></script>
<script src="${ContextPath}/js/bootstrap-table-multiple-sort.js"></script>
<script src="${ContextPath}/js/bootstrap-table-export.js"></script>
<script src="${ContextPath}/js/tableExport.js"></script>

<script>
	function queryResp(ctrl){
	
		var configID = $(ctrl).attr("config");
		BootstrapDialog.show({
			title   : "查询",
            message : $('<div></div>').load('${ContextPath}/web/command/config/queryResp/' + configID + '.do')
        });
	}
	
	function removeObj(ctrl){
	
		var elementTR = $(ctrl).parent().parent();
		var configID = $(ctrl).attr("config");
		var endPoint = "${ContextPath}/rest/service/command/config/" + configID;
		console.log(endPoint);
		BootstrapDialog.show({
            message: "确定要删除？",
            buttons:[{
            	label : '是',
            	cssClass: 'btn-primary',
            	action: function(dialogItself){

		  			$.ajax({
		  				url  : endPoint,
		  				type : 'DELETE',
		  				cache: false,
						contentType: 'application/json; charset=utf-8',
						success: function(json) {
							alert("SUCCESS");
							console.log(" reponse :"+ json);
							elementTR.remove();
		                },
		                error: function(msg) { alert("error"); }
		  			});
            		dialogItself.close();
            	}
            },{
            	label : '否',
            	action: function(dialogItself){
            		dialogItself.close();
            	}
            }]
        });
	}

	function unbind(ctrl){
		var elementTD = $(ctrl).parent();
		var configID = $(ctrl).attr("config");
		var endPoint = "${ContextPath}/rest/service/command/config/" + configID + "/client";
		$.ajax({
			url  : endPoint,
			type : 'DELETE',
			cache: false,
			contentType: 'application/json; charset=utf-8',
			success: function(json) {
				alert("SUCCESS");
				console.log(" reponse :"+ json);
				elementTD.html("");
            },
            error: function(msg) { alert("error"); }
		});
	}
	
	function modifyObj(ctrl){

		var configID = $(ctrl).attr("config");
		BootstrapDialog.show({
			title   : "标书配置",
            message : $('<div></div>').load('${ContextPath}/web/command/config/detail/' + configID + '.do')
        });
	}
	
	$(function(){		
		$('#configs').bootstrapTable();

  		//解绑标书<-->机器
  		$("button[toggle='UNBIND']").click(function(){
  		});
  		
  		//删除标书
  		$("button[toggle='DEL']").click(function(){
  		});
  		
  		$("#createConfig").click(function(){
  			BootstrapDialog.show({
				title   : "添加标书",
	            message : $('<div></div>').load('${ContextPath}/web/command/config/create.do')
	        });
  		});
  		
  		$("#reset").click(function(){
  			$('#frm input[type="text"]').each(function(){
  				$(this).val("");
  			});
  			$('span[class*="label"]').remove();
  		});
  		
  		//保存标书修改
  		$("#save").click(function(){

  			var tips = $('#tipsArea').val();
  			var reqParam = {
  				no    : $("#noInput").val(),
  				passwd: $("#passwdInput").val(),
  				pid   : $("#pidInput").val(),
  				pname : $("#puserInput").val(),
  				tags  : $("#tagsInput").val()
  			};
  			var endPoint = "${ContextPath}/rest/service/command/config";
  			$.ajax({
  				url:endPoint,
  				type:'POST',
  				cache:false,
				data:JSON.stringify(reqParam),
				contentType: 'application/json; charset=utf-8',
				success: function(json) {
					alert("SUCCESS");
					console.log(" reponse :"+ json);
                },
                error: function(msg) { alert("error"); }
  			});
  		});
	});
</script>

<div class="row">
	<div class="col-md-12">
	<div id="toolbar" class="btn-group">
	    <button type="button" class="btn btn-default" id="createConfig"><i class="glyphicon glyphicon-plus"></i></button>
	</div>
	<table id="configs" class="table table-striped" 
		data-show-columns="true" data-toolbar="#toolbar"
		data-search="true" data-show-multi-sort="true" data-show-export="true">
		<thead>
			<tr>
				<th data-field="id">#</th>
				<th data-field="bidNo" data-sortable="true">投标号</th>
				<th data-field="passwd" data-visible="false">密码</th>
				<th data-field="identify" data-sortable="true" data-visible="false">身份证号</th>
				<th data-field="name" data-sortable="true">姓名</th>
				<th data-field="tags">来源</th>
				<th data-field="tips" data-visible="false">策略</th>
				<th>OPS</th>
			</tr>
		</thead>
		<tbody>
		#foreach(${config} in ${configs})
		<tr config="${config.no}" toggle="row">
			<td align="right">$!{velocityCount}</td>
			<td><a href='#' config='${config.no}' toggle='MODIFY' onclick="return modifyObj(this);">${config.no}</a></td>
			<td>$!{config.passwd}</td>
			<td>$!{config.pid}</td>
			<td>$!{config.pname}</td>
			<td>$!{config.tags}</td>
			<td>$!{config.policy}</td>
			<td>
				<button class="btn btn-danger btn-sm" type="button" config="${config.no}" toggle="DEL" onclick="return removeObj(this);"><span class="glyphicon glyphicon-remove"/></button>
				<button class="btn btn-primary btn-sm" type="button" config="${config.no}" toggle="DEL" onclick="return queryResp(this);"><span class="glyphicon glyphicon-zoom-in"/></button>
			</td>
		</tr>
		#end
		</tbody>
	</table>
	</div>
</div>