#set( $ContextPath = ${request.contextPath} )

<link rel="stylesheet" href="${ContextPath}/css/bootstrap.css" >
<link href="${ContextPath}/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="${ContextPath}/js/jquery/jquery-1.11.2.min.js"></script>
<script src="${ContextPath}/js/bootstrap.js"></script>
<script src="${ContextPath}/js/bootstrap-dialog.min.js"></script>
<!--<script src="${ContextPath}/js/bootstrap.min.js"></script>-->

<style>
   .login-dialog .modal-dialog .modal-body .modal-header .modal-footer{
        width: 800px;
    }
</style>
        
<script type="text/javascript">
	$(function(){
		$("#ASSIGN").click(function(){
		
			var radio = $("input[name='operation']:checked");
			if(radio.length == 0){
				alert("选择Operation先");return;
			}
			
			var hosts = new Array();
			$("input[type='checkbox']:checked").each(function(){
				hosts.push($(this).val());
			});
			if(hosts.length == 0){
				alert("选择HOST先");return;
			}
			
			var assignOps = {
				'hosts' : hosts,
				'operationID' : $(radio[0]).val()
			};
			$.ajax({
			    url : '${ContextPath}/rest/service/command/operation/' + $(radio[0]).val() + '/hosts',
    			type: 'POST',
    			data:JSON.stringify(hosts),
				contentType: 'application/json;charset=utf-8;',
				error: function(msg) { alert("error"); },
				complete: function(msg) { console.log("complete"); },
				success: function(msg) { 
				
					alert("操作成功");
					console.log("complete");
				}     
			});
		});
		
		$('#filter').blur(function(){
		
			loadHosts($(this).val());
		});
		
		loadHosts();
		
		$("button[toggle='DELETE']").click(function(){
			var operationID = $(this).attr("opsID");
			$.ajax({
			    url : '${ContextPath}/rest/service/command/operation/' + operationID,
    			type: 'DELETE',
				contentType: 'application/json;charset=utf-8;',
				error: function(msg) { alert("error"); },
				complete: function(msg) { console.log("complete"); },
				success: function(msg) { 
					console.log("success");
					alert("操作成功");
					$("tr[opsID='" + operationID + "']").remove();
				}     
			});
		});
		
		$("button[toggle='MODIFY']").click(function(){

			var opsID = $(this).attr("opsID");
			var opsType = $(this).attr("opsType");
			BootstrapDialog.show({
				cssClass: 'login-dialog',
				title   : "修改Operation",
	            message : $('<div></div>').load('${ContextPath}/web/command/operation/' + opsID + '.do'),
	            buttons : [{
	            	label : "保存",
	            	action: function(dialogItself){
	            		var opsParam = {
							id  : $('#operationID').val(),
							type: opsType,
							startTime : $('#startTimeInput').val(),
							expireTime: $('#expireTimeInput').val(),
							content   : $('#jsonContent').val(),
						};
						
						var endPoint = '${ContextPath}/rest/service/command/operation/' + opsType + '/' + $('#operationID').val();
						if(opsType=="BIDStep1" || opsType=="BIDStep2")
							opsParam.price = $('#price').val();
						if(opsType="LOGIN")
							opsParam.url = $('#loginURLInput').val();
						
						$.ajax({
						    url : endPoint,
			    			type: 'PUT',
			    			data:JSON.stringify(opsParam),
							contentType: 'application/json;charset=utf-8;',
							error: function(msg) { alert("error"); },
							complete: function(msg) { console.log("complete"); },
							success: function(msg) { 
								console.log("success");
								alert("保存成功");
								dialogItself.close();
							}     
						});
	            	}
	            },{
	            	label:"取消",
	            	action: function(dialogItself){
	                    dialogItself.close();
	                }
	            }]
	        });
		});
	});
	
	function detailClient(client){
		
		var clientID = $(client).attr('host');
		BootstrapDialog.show({
				cssClass: 'login-dialog',
				title   : "Client详细信息",
	            message : $('<div></div>').load('${ContextPath}/web/command/client/' + clientID + '/detail.do'),
	            buttons : [{
	            	label:"关闭",
	            	action: function(dialogItself){
	                    dialogItself.close();
	                }
	            }]
	        });
	}
	
	function loadHosts(host){
		
		$("tr[toggle='HOST']").remove();
		
		var endPoint = "${ContextPath}/rest/service/command/client";
		if(host != null && host != "")
			endPoint += "/filter/" + host;

		$.get(endPoint,
			function(result){

				var table = $('#hostTable tbody');
				for(var i=0; i<result.length; i++){
				
					var detail = "UPDATE:" + result[i].updateTime;
					var row = "<tr toggle='HOST'>";
					row += "<td><input name='checkHost' type='checkbox' value='" + result[i].ip + "'/>"
					row += "<a href='#' data-toggle='popover' title='DETAIL' data-content='" + detail + "' host='" + result[i].ip + "' onclick='return detailClient(this);'>" + result[i].ip + "</a>";
					if(result[i].config != null)
						row += "<br/>[" + result[i].config.no + "," + result[i].config.pname + "]";
					row += "</td>";

					if(result[i].operation.length > 0){
						var ops = "";
						for(var j=0; j<result[i].operation.length; j++){
						
							var button = "<button class='btn btn-danger btn-xs' toggle='REMOVE' host='" + result[i].ip + "' opsID='" + result[i].operation[j].id + "'>X</button>";
							ops += "<div>【" + result[i].operation[j].id + "】";
							if(result[i].operation[j].tag == "real")
								ops += "<span class='label label-primary'>国拍</span>";
							else if(result[i].operation[j].tag == "simulate")
								ops += "<span class='label label-info'>模拟</span>";
							else
								ops += "<span class='label label-warning'>未知</span>";
							ops += "<span class='label label-default'>" + result[i].operation[j].type + "</span>";
							ops += "@" + result[i].operation[j].startTime;
							ops += button + "</div>";
						}
						row += "<td>"+ops+"</td>";
					} else
						row += "<td></td>";
					row += "</tr>";
					table.append(row);
				}
				
				$("a[data-toggle='popover']").popover({
					'trigger':'hover'
				});
				
				$("button[toggle='REMOVE']").click(function(){
			
					var host = $(this).attr("host");
					var opsID = $(this).attr("opsID");
					var div = $(this).parent();
					
					$.ajax({
					    url : '${ContextPath}/rest/service/command/client/' + host + '/operation/' + opsID,
		    			type: 'DELETE',
						contentType: 'application/json;charset=utf-8;',
						error: function(msg) { alert("error"); },
						complete: function(msg) { console.log("complete"); },
						success: function(msg) { 
						
							alert("删除成功");
							div.remove();
							console.log("complete");
						}     
					});
				});
			}
		);
	}
	
	function checkAll(){
		$("tr[toggle='HOST']").each(function(){

			var checkBox = $(this).find("input:first");
			checkBox.prop("checked", true);
		});
	}
	
	function unCheckAll(){
		
		$("tr[toggle='HOST']").each(function(){
			$(this).find("input:first").prop("checked", false);
		});
	}
	
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6"><!--MIDDLE content-->
			<legend>操作列表</legend>
			<table class="table table-striped table-bordered">
				<tr>
					<th>ID</th>
					<th>环境</th>
					<th>类型</th>
					<th>其他</th>
					<th>操作</th>
					<th></th>
				</tr>
				#foreach(${operation} in ${operations})
				<tr opsID="${operation.id}">
					<td>${operation.id}</td>
					<td>$!{operation.tag}</td>
					<td>${operation.type}</td>
					<td>$!{operation.tips}</td>
					<td>
						<button class="btn btn-primary btn-sm" toggle="MODIFY" opsID="${operation.id}" opsType="${operation.type}"><i class="icon-edit icon-white"></i>修改</button>
						#if(${operation.clients.size()} == 0)
						<button class="btn btn-primary btn-sm" toggle="DELETE" opsID="${operation.id}"><i class="icon-trash icon-white"></i>删除</button>
						#else
						<button class="btn btn-primary btn-sm disabled" toggle="DELETE" opsID="${operation.id}"><i class="icon-trash icon-white"></i>删除</button>
						#end
					</td>
					<td><input type="radio" name="operation" value="${operation.id}"></input></td>
				</tr>
				#end
				<!--<tr>
					<td colspan='4'></td>
					<td><button class="btn btn-primary" toggle="CREATE" href="#newOperationFrom">创建</button></td>
				</tr>-->
			</table>
			<div class="form-actions">
				<button class="btn btn-primary" type="submit" id="ASSIGN">分配操作</button>
				<button class="btn">取消</button>
			</div>
		</div>
		<div class="col-sm-6"><!--Sidebar content-->
			<form class="form-horizontal" onsubmit="return false;">
				<fieldset>
	        		<legend>
	        		<div class="input-group">
						<span class="input-group-addon">客户端列表（FILTER）</span>
						<input type="text" placeholder="客户端名称" style="width:200px;height:30px;" class="form-control" id="filter">
					</div>
	        		</legend>
	        		<div class="control-group">
	        			<table id="hostTable" class="table table-striped table-bordered table-hover">
							<tr toggle="THREAD">
								<th>
									<label class="radio-inline">
								  		<input type="radio" name="all" id="inlineRadio1" value="option1" onclick='return checkAll();'>全选
									</label>
									<label class="radio-inline">
										<input type="radio" name="all" id="inlineRadio2" value="option2"  onclick='return unCheckAll();'>不选
									</label>
								</th>
								<th>已分配の操作</th>
							</tr>
						</table>
	        		</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
