#set( $ContextPath = ${request.contextPath} )
#set( $layout = "layout/layoutBlank.vm" )

<link rel="stylesheet" type="text/css" href="${ContextPath}/css/jsoneditor.css"></link>

<script type="text/javascript" src="${ContextPath}/js/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="${ContextPath}/js/jquery/jquery.maskedinput.js"></script>
<script type="text/javascript" src="${ContextPath}/js/jquery/jquery.jsoneditor.js"></script>
<script type="text/javascript">
	$(function(){

		$("#advance").click(function(){
			
			$("#jsonContent").css("visibility","");
			$("#jsonContent").css("height","100px");
			
			$("#editor").css("height","10px");
			$("#editor").css("visibility","hidden");
			$("#advance").css("visibility","hidden");
			$("#normal").css("visibility","");
		});
		
		$("#normal").click(function(){
			
			$("#editor").css("visibility","");
			$("#editor").css("height","");
			
			$("#jsonContent").css("height","10px");
			$("#jsonContent").css("visibility","hidden");
			$("#normal").css("visibility","hidden");
			$("#advance").css("visibility","");
		});
		
		$("#jsonContent").blur(function(){

			var json = JSON.parse($('#jsonContent').val());
			console.log(json);
			$('#editor').jsonEditor(json, {
				change:function(){ $('#jsonContent').val(JSON.stringify(json)); }
			});
		});
		
		$("#startTimeInput").blur(function(){
			
			var start = $(this).val();
			var date = start.split(' ')[0];
			var time = start.split(' ')[1];
			var array = time.split(':');
			
			var hour = parseInt(array[0]);
			var minute = (parseInt(array[1])+1);
			if(minute > 59){
				hour += 1;
				minute = minute % 60;
			}
			hour = hour > 9 ? hour : '0' + hour;
			minute = minute > 9 ? minute : '0' + minute;
			var expire = date + ' ' + hour + ':' + minute + ':00';
			$('#expireTimeInput').val(expire);
		});

		var json = JSON.parse($('#jsonContent').val());
		$('#editor').jsonEditor(json, {
			change:function(){ $('#jsonContent').val(JSON.stringify(json)); }
		});
	});
</script>

<form class="form-horizontal" onsubmit="return false;">
	<legend>BID-Step2</legend>
	<fieldset>
		<div class="form-group">
			<label class="control-label col-sm-2" for="operationID">ID</label>
			<div class="controls col-sm-4">
				<input id="operationID" class="input-mini uneditable-input" disabled style="height:30px;" type="text" value="${operation.id}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">类型</label>
			<div class="controls col-sm-4">
				<input class="input-mini uneditable-input" disabled style="height:30px;" type="text" value="${operation.type}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="">类型</label>
			<div class="controls col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input id="tagInput" class="form-control" style="width:200px;height:30px;" type="text" placeholder="类型" value="${operation.tag}"></input>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="">环境</label>
			<div class="controls col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input id="envInput" class="form-control" style="width:200px;height:30px;" type="text" placeholder="环境" value="${operation.env}"></input>
				</div>
			</div>
		</div>
		<!--
		<div class="form-group">
			<label class="control-label col-sm-2" for="startTimeInput">触发时间</label>
			<div class="controls col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input id="startTimeInput" class="form-control" style="width:200px;height:30px;" type="text" placeholder="startTime" value="${operation.startTime}"></input>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="expireTimeInput">有效时间</label>
			<div class="controls col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input id="expireTimeInput" class="form-control" style="width:200px;height:30px;" type="text" placeholder="startTime"  value="${operation.expireTime}"></input>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="price">加价选择</label>
			<div class="controls col-sm-10">
				<select id="price">
					<option value="100" #if(${operation.price}==100)SELECTED#end>+100</option>
					<option value="200" #if(${operation.price}==200)SELECTED#end>+200</option>
					<option value="300" #if(${operation.price}==300)SELECTED#end>+300</option>
					<option value="400" #if(${operation.price}==400)SELECTED#end>+400</option>
					<option value="500" #if(${operation.price}==500)SELECTED#end>+500</option>
					<option value="600" #if(${operation.price}==600)SELECTED#end>+600</option>
					<option value="700" #if(${operation.price}==700)SELECTED#end>+700</option>
					<option value="800" #if(${operation.price}==800)SELECTED#end>+800</option>
					<option value="900" #if(${operation.price}==900)SELECTED#end>+900</option>
				</select>
			</div>
		</div>
		-->
		<div class="form-group">
			<label class="control-label col-sm-2" for="jsonContent">坐标配置&nbsp</label>
			<div class="controls col-sm-10">
				<textarea id="jsonContent" class="form-control" rows="5" style="height:10px;width:300px;visibility:hidden;">${operation.content}</textarea>
				<a href='#' id="normal" style="visibility:hidden;">json</a>
				<div id="editor" class="json-editor"></div>
				<a href='#' id="advance">plain</a>
			</div>
		</div>
		<!--<div class="form-actions">
			<div class="col-sm-7"></div>
			<div class="col-sm-5">
				<button class="btn btn-primary" type="submit" id="MODIFY">保存</button>
				<button class="btn">取消</button>
			</div>
		</div>-->
		<!--
		<div class="form-group">
			<label class="control-label" for="jsonContent">分配の客户端</label>
			<div class="controls">
				<table id="clients" class="table table-striped .table-bordered">
					<tr>
						<th>HOST/IP</th>
						<th>更新时间</th>
					</tr>
				</table>
			</div>
		</div>
		-->
	</fieldset>
</form>