<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:cxf="http://cxf.apache.org/core"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
    	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations">
  			<list>
  				<value>classpath:security.properties</value>
  				<value>classpath:simulate.properties</value>
  				<value>classpath:real.properties</value>
  				<value>classpath:moni.properties</value>
  				<value>classpath:config.properties</value>
  			</list>
  		</property>
	</bean>
    
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <cxf:bus>
        <cxf:outInterceptors>
        	<bean class="org.apache.cxf.transport.common.gzip.GZIPOutInterceptor"/>
        	<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
        </cxf:outInterceptors>
        <cxf:inInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
            <!--
            <bean class="demo.captcha.rs.impl.InInterceptor">
            	<property name="certificatePath" value="${security.CERT}"/>
        		<property name="licencePath" value="${security.LICENCE}"/>
            </bean>
            -->
        </cxf:inInterceptors>
    </cxf:bus>
    
    <!--
    <bean id="repository" class="demo.captcha.rs.impl.SimulateService.RepositoryCreator">
    	<property name="url" value="${moni.captcha.repository}"/>
    </bean>
    <bean id="JUN" class="demo.captcha.rs.impl.SimulateService.PolicyGenerator">
		<property name="warnPrice" value="${moni.warnprice}"/>
		<property name="change">
			<value>${moni.change.JUN}</value>
		</property>
	</bean>
	<bean id="JUL" class="demo.captcha.rs.impl.SimulateService.PolicyGenerator">
		<property name="warnPrice" value="${moni.warnprice}"/>
		<property name="change">
			<value>${moni.change.JUL}</value>
		</property>
	</bean>
	<bean id="AUG" class="demo.captcha.rs.impl.SimulateService.PolicyGenerator">
		<property name="warnPrice" value="${moni.warnprice}"/>
		<property name="change">
			<value>${moni.change.AUG}</value>
		</property>
	</bean>
	<bean id="SEP" class="demo.captcha.rs.impl.SimulateService.PolicyGenerator">
		<property name="warnPrice" value="${moni.warnprice}"/>
		<property name="change">
			<value>${moni.change.SEP}</value>
		</property>
	</bean>	
	<bean id="OCT" class="demo.captcha.rs.impl.SimulateService.PolicyGenerator">
		<property name="warnPrice" value="${moni.warnprice}"/>
		<property name="change">
			<value>${moni.change.OCT}</value>
		</property>
	</bean>
	-->	

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!-- RESTFUL CXF SERVER -->
    <jaxrs:server id="serviceContainer" address="/service">
        <jaxrs:serviceBeans>
        	<bean class="demo.captcha.rs.impl.ScreenService">
        		<property name="screenConfigService" ref="screenConfigService"/>
        	</bean>
        	<bean class="demo.captcha.rs.impl.OperationService">
        		<property name="operationService" ref="operationService"/>
        		<property name="clientService" ref="clientService"/>
        	</bean>
        	<bean class="demo.captcha.rs.impl.ClientService">
        		<property name="clientService" ref="clientService"/>
        	</bean>
        	<bean class="demo.captcha.rs.impl.ConfigService">
        		<property name="configService" ref="configService"/>
        		<property name="clientService" ref="clientService"/>
        	</bean>
        	<bean class="demo.captcha.rs.impl.CommandService">
        		<property name="clientService" ref="clientService"/>
        		<property name="operationService" ref="operationService"/>
        		<property name="warrantService" ref="warrantService"/>
        		<property name="resourceService" ref="resourceService"/>
        		<property name="globalConfigREAL" ref="GLOBAL-REAL"/>
        		<property name="globalConfigSIMULATE" ref="GLOBAL-SIMULATE"/>
        	</bean>
        	<bean class="demo.captcha.rs.impl.ResourceService">
        		<property name="resourceService" ref="resourceService"/>
        	</bean>
        	<!--
        	<bean class="demo.captcha.rs.impl.SimulateService">
        		<property name="repository" ref="repository"/>
        		<property name="policyGenerators">
        			<list>
        				<ref bean="JUN"/>
        				<ref bean="JUL"/>
        				<ref bean="AUG"/>
        				<ref bean="SEP"/>
        				<ref bean="OCT"/>
        			</list>
        		</property>
        	</bean>
        	-->
        </jaxrs:serviceBeans>
        <jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
</beans>